.small {
    width: 48px;
}

.medium {
    width: 64px;
}

.large {
    width: 128px;
}

.tiny {
    width: 22px;
}


/* Precedence over the size-related styles from above */

.landscape {
    width: 100%;
}

.portrait {
    height: 100%; 
}

video.portrait {
    height:90px; 
}